/* .signupWrapper {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.signup {
    background-color: #fff;
    width: 60%;
    max-width: 700px;
    min-width: 300px;
    padding: 50px 35px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.signup h2 {
    margin: 0;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
}
.signup p {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}
.signupForm {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.signupForm label {
    font-size: 14px;
    line-height: 19px;
}
.signupForm input {
    height: 45px;
    border: 1px solid #ded2d9;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 0;
}
.signupButton {
    color: #fff;
    background-color: #0f46a0;
    font-size: 18px;
    cursor: pointer;
    transition-duration: .3s;
}
.signupButton:hover {
    color: #fff;
    background-color: #1e96f0;
}
.loginAccount {
    font-size: 18px;
}
.loginAccount a {
    color: #0f46a0;
    cursor: pointer;
}
.errorMessage {
    font-size: 14px;
    color: red;
    margin-bottom: 10px;
} */
.signupWrapper {
    max-width: 810px;
    width: 50%;
    min-width: 320px;
    height: 100vh;
    background-color: #fff;
    padding: 140px 100px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.signup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.signup h2 {
    margin: 0;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
}
.signup p {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}
.signupForm {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.signupForm label {
    font-size: 14px;
    line-height: 19px;
}
.signupForm input {
    height: 45px;
    border: 1px solid #ded2d9;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 0;
    box-sizing: border-box;
    padding-left: 10px;
}
.signupForm input:last-child {
    margin: 0;
}
.loginAccount {
    font-size: 18px;
}
.loginAccount a {
    color: #0f46a0;
    cursor: pointer;
}
.signupButton {
    color: #fff;
    background-color: #0f46a0;
    font-size: 18px;
    cursor: pointer;
    transition-duration: .3s;
}
.signupButton:hover {
    color: #fff;
    background-color: #1e96f0;
}
@media (max-width: 950px) {
    .signupWrapper {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
    .logoWrapper {
        display: none;
    }
}
.errorMessage {
    font-size: 14px;
    color: red;
    margin-bottom: 10px;
}
